@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');


* {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

body {
  min-height: 100vh;
  display: flex;
  font-weight: 400;
  font-family: 'Helvetica', sans-serif;
  background: -moz-repeating-linear-gradient();
}

img {
  width: 100%;
  object-fit: contain;
}

h1,h2,h3,h4,h5,h6,label,span {
  font-weight: 500;
  font-family: 'Fira Sans', sans-serif;
}
body, html, .App, #root, .auth-wrapper, .home {
  width: 100%;
  height: 100%;
}

.home {
  margin: auto;
  padding: 70px 5px 5px 5px;
}

/* navbar */

.navbar {
  width: 100%;
  height: 110px;
  background-color: #171717;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 1rem;
  z-index: 50;
}

.navbar_logo h2 {
  color: #f4f4f4;
  font-size: 1.4rem;
  cursor: pointer;
}

.navbar_links {
  display: flex;
  list-style: none;
  align-items: center;
}

.nav-item {
  padding-left: 1.5rem;
}

.navbar_links > li > a {
  text-decoration: none;
  color: #f4f4f4;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
}

.navbar_links > li > a > span {
  display: flex;
  align-items: center;
  margin-left: 8px;
}

.cart_link {
  background: #333;
  padding: 10px;
  border-radius: 8px;
}

.cart_link:hover {
  background: #dd219e;
  color: #f4f4f4;
}

.cartlogo_badge {
  width: 30 px;
  height: 30 px;
  background: #f4f4f4;
  border-radius: 50%;
  margin-left: 8px;
  color: #171717;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1rem;
}

.auth_menu {
  display: none;
  width: 30px;
  height: 30px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;  
}

.auth_menu > div {
  width: 100%;
  height: 3px;
  background: #f4f4f4;
}

.auth_menu:hover > div {
  background: #dd219e;
}

/* per i mobile*/
@media (max-width: 960px) {
  .navbar_links {
    display: none;
  }

  .auth_menu {
    display: flex;
  }
}

@media (max-width: 500px) {
  .navbar_logo h2 {
    font-size: 1rem;
  }
}

/* backdrop */
.backdrop {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
}

/* sidesrawer */
.sidedrawer {
  width: 70%;
  background: #fff;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  transform: translateX(-100%);
  transition: all 0.3s ease-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sidedrawer.show {
  transform: translateX(0);
}

.sidedrawer__links {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.sidedrawer__links > li {
  display: flex;
  align-items: center;
}

.sidedrawer__links > li > a:hover {
  background: #333;
  color: #f4f4f4;
}

.sidedrawer__links > li > a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex: 1;
  padding: 1rem;
  text-decoration: none;
  color: #171717;
  font-size: 1.6rem;
}

.sidedrawer__links > li > a > span {
  display: flex;
  align-items: center;
  margin-left: 8px;
}

.sidedrawer__cartbadge {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: #171717;
  border-radius: 50%;
  margin-left: 8px;
  color: #fff;
  font-size: 1rem;
}

.sidedrawer__links > li > a:hover .sidedrawer__cartbadge {
  background-color: #fff;
  color: #171717;
}

@media (min-width: 960px) {
  .sidedrawer {
    display: none;
  }
}

/* e-commerce */

.homescreen {
  max-width: 1300px;
  margin: 1rem auto;
}

.homescreen__title {
  font-size: 1.5rem;
  color: #171717;
  margin-bottom: 1rem;
  margin-left: 8px;
}

.homescreen__products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

@media (max-width: 1232px) {
  .homescreen__products {
    grid-template-columns: repeat(3, auto);
  }
}

@media (max-width: 950px) {
  .homescreen__products {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 630px) {
  .homescreen__products {
    grid-template-columns: 1fr;
  }
}

/* product */

.product {
  width: 300px;
  padding: 1rem;
  background: #fff;
  cursor: pointer;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  margin: 8px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-direction: column;
}

.product > img {
  width: 100%;
  height: 170px;
  object-fit: contain;
  border-radius: 8px;
}

.product__info > p {
  margin-bottom: 8px;
}

.info__price {
  font-weight: bold;
}

.info__name {
  font-size: 1rem;
  overflow: hidden;
}

.info__description {
  font-size: 0.8rem;
}

.info__button {
  display: block;
  text-decoration: none;
  text-align: center;
  color: #171717;
  width: 100%;
  padding: 8px 16px;
  background-color: #f4f4f4;
  border: 1px solid #171717;
  font-size: 1rem;
}

.info__button:hover {
  background: #171717;
  color: #f4f4f4;
}

@media (max-width: 1232px) {
  .product {
    width: 360px;
  }
}

@media (max-width: 1115px) {
  .product {
    width: 330px;
  }
}

@media (max-width: 1028px) {
  .product {
    width: 300px;
  }
}

@media (max-width: 950px) {
  .product {
    width: 400px;
  }
}

@media (max-width: 830px) {
  .product {
    width: 330px;
  }
}

@media (max-width: 700px) {
  .product {
    width: 290px;
  }
}

@media (max-width: 630px) {
  .product {
    width: 450px;
  }
}

@media (max-width: 500px) {
  .product {
    width: 350px;
  }
}

@media (max-width: 400px) {
  .product {
    width: 300px;
  }
}

/* product screen */

.productscreen {
  max-width: 1300px;
  margin: 1rem auto;
  display: flex;
}

.productscreen__left {
  display: flex;
  flex: 0.8;
}

.left__image {
  margin: 1rem;
  flex: 0.6;
}

.left__info {
  margin: 1rem;
  flex: 0.4;
  background: #fff;
  height: fit-content;
  font-size: 0.9rem;
}

.left__name {
  font-weight: bold;
  font-size: 1.3rem;
}

.left__info > p,
.right__info > p {
  padding: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.left__info > p:last-child,
.right__info > p:last-child {
  border: none;
}

.productscreen__right {
  flex: 0.2;
}

.right__info {
  width: 250px;
  margin: 1rem;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
}

.right__info p {
  padding: 1rem;
  font-size: 0.8rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.right__info p > button {
  grid-column: 1/-1;
  width: 100%;
  padding: 10px 16px;
  background: #171717;
  color: #f4f4f4;
  border: 1px solid #171717;
  cursor: pointer;
  border-radius: 5px;
}

.right__info select {
  padding: 10px 16px;
}

@media (max-width: 960px) {
  .productscreen {
    flex-direction: column;
  }

  .productscreen__left {
    flex-direction: column;
    flex: 1;
  }

  .left__image {
    flex: 1;
  }

  .left__info {
    flex: 1;
  }

  .productscreen__right {
    flex: 1;
    padding: 1rem;
  }

  .right__info {
    width: 100%;
    margin: 0;
  }
}

/* cart */

.cartitem {
  width: 100%;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr 1fr 1fr;
  gap: 8px;
  background: #fff;
  border-radius: 2px;
  place-items: center;
  margin-bottom: 8px;
}

.cartItem__name {
  text-decoration: none;
  color: #171717;
}

.cartItem__name:hover {
  color: #dd219e;
}

.cartItem__select {
  padding: 10px 17px;
}

.cartItem__deleteBtn {
  padding: 10px 17px;
  color: red;
  background: #f4f4f4;
  border: 1px solid #171717;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.cartItem__deleteBtn:hover,
.carItem__deleteBtn:active,
.carItem__deleteBtn:focus {
  background: #171717;
  transform: scale(1.2);
}

@media (max-width: 700px) {
  .cartItem__name {
    font-size: 0.8rem;
  }

  .cartItem__select,
  .cartItem__deleteBtn {
    padding: 8px 13px;
  }

  .cartitem__price {
    font-size: 0.8rem;
  }
}

@media (max-width: 700px) {
  .cartItem__name {
    font-size: 0.6rem;
  }

  .cartItem__select,
  .cartItem__deleteBtn {
    padding: 5px 8px;
  }

  .cartitem__price {
    font-size: 0.6rem;
  }
}

/* cart screen */

.cartscreen {
  display: flex;
  max-width: 1300px;
  margin: 2rem auto;
}

.cartscreen h2 {
  margin-bottom: 1rem;
}

.cartscreen__left {
  flex: 0.7;
  margin-right: 1rem;
  background: transparent;
  padding: 1rem;
}

.cartscreen__right {
  flex: 0.3;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  height: fit-content;
}

.cartscreen__right div {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 1rem;
}

.cartscreen__info p {
  padding: 8px;
}

.cartscreen__info p:first-child {
  font-weight: bold;
}

.cartscreen__right div:last-child {
  border: none;
}

.cartscreen__right div button {
  padding: 10px 17px;
  width: 100%;
  background: #171717;
  color: #f4f4f4;
  border: 1px solid #171717;
  cursor: pointer;
}

.cartscreen__right div button:hover {
  opacity: 0.9;
}

@media (max-width: 1320px) {
  .cartscreen {
    max-width: 900px;
  }
}

@media (max-width: 960px) {
  .cartscreen {
    max-width: 800px;
  }
}

@media (max-width: 960px) {
  .cartscreen {
    flex-direction: column;
  }

  .cartscreen__right {
    margin: 1rem;
  }
}

/* auth */

.auth-wrapper {
  background: #88daad !important;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}
.auth-inner {
  width: 450px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all .3s;
}
.auth-wrapper .form-control:focus {
  border-color: #16ff9e;
  box-shadow: none;
}
.auth-wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}
.custom-control-label {
  font-weight: 400;
}
.forgot-password,
.forgot-password a {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: #7f7d7d;
  margin: 0;
}
.forgot-password a {
  color: #167bff;
}


